:root {
    /*Backgrounds*/
    --dark-bg-color: #3d3d3d;
    --bright-bg-color: #ffffff;

    /*Colors*/
    --copy-color: #3d3d3d;
    --bright-color: #ffffff;
    --highlight-color: #ff9f1a;

    /*Directories*/
    
}
  